<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910748880425-72p4vnbo0ic13ifjqkl0udv260kl7bqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910748880425-72p4vnbo0ic13ifjqkl0udv260kl7bqu</string>
	<key>API_KEY</key>
	<string>AIzaSyBR-gNJoKIP2j4-1JxfefN85N6zbxmylpw</string>
	<key>GCM_SENDER_ID</key>
	<string>910748880425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gunawan.geolokasi</string>
	<key>PROJECT_ID</key>
	<string>presensi-51e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>presensi-51e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910748880425:ios:3fe2017dc19876036c9638</string>
</dict>
</plist>